{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier", "plugin:sonarjs/recommended"],
  "plugins": ["prettier", "sonarjs"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-underscore-dangle": "off"
  },
  "env": {
    "commonjs": true,
    "node": true,
    "jest": true
  },
  "ignorePatterns": ["node_modules/", "coverage/", "lib/", "bin/"]
}
